@nav_bg: #54575c;
@trans: transparent;
@color_1: #d4d4d4;
@color_2: #252525;
@color_3: #2c2c2c;
@background_color_1: #ddd;
@background_color_2: #e58139;

#menu {
	background:@nav_bg;
	min-height: 40px;
	width: 100%;
	box-shadow:0px 1px 1px rgba(0,0,0,0.15);
	.grid_73 {
		width: 80%;
		background: @trans;
		margin: 0 auto 0 auto;
		padding: 0;
		#mainNav {
			float: left;
			font: bold 1.2rem Arial, Helvetica, Sans-serif;
			// border: 1px solid #121314;
			// border-top: 1px solid #2b2e30;
			// -webkit-border-radius: 5px;
			// -moz-border-radius: 5px;
			// border-radius: 5px;
			overflow: hidden;
			.toggle-nav {
				padding-top: 5px;
				cursor: pointer;
				display: none;
				width: 5rem;
				margin: 5px auto;
				float:none;
			}
			li.toggle-nav {
				&:hover {
					span.toggle-menu-bar {
						background-color: @background_color_1;
					}
				}
			}
			.toggle-menu-bar {
				display: none;
				width: 25px;
				height: 4px;
				background-color: @background_color_2;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				margin: 0 auto 3px;
				transition: background-color 0.2s;
			}			
			ul {
				margin: 0;
				padding: 0;
				list-style: none;
				li {
					float: left;
					a {
						float: left;
						color: @color_1;
						padding: 10px 20px;
						text-decoration: none;
						background: #3C4042;
						background: -webkit-gradient( linear, left bottom, left top, color-stop(0.09, rgb(59,63,65)), color-stop(0.55, rgb(72,76,77)), color-stop(0.78, rgb(75,77,77)) );
						background: -moz-linear-gradient( center bottom, rgb(59,63,65) 9%, rgb(72,76,77) 55%, rgb(75,77,77) 78% );
						background: -o-linear-gradient( center bottom, rgb(59,63,65) 9%, rgb(72,76,77) 55%, rgb(75,77,77) 78% );
						box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset, 0 0 5px rgba(0, 0, 0, 0.1) inset;
						border-left: 1px solid rgba(255, 255, 255, 0.05);
						border-right: 1px solid rgba(0,0,0,0.2);
						text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.6);
						&:hover {
							color: @color_2;
							background: #3C4042;
							background: -webkit-gradient( linear, left bottom, left top, color-stop(0.09, rgb(77,79,79)), color-stop(0.55, rgb(67,70,71)), color-stop(0.78, rgb(69,70,71)) );
							background: -moz-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
							background: -o-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
							text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 -1px #000;
						}
					}
					&:hover {
						>a {
							color: @color_2;
							background: #3C4042;
							background: -webkit-gradient( linear, left bottom, left top, color-stop(0.09, rgb(77,79,79)), color-stop(0.55, rgb(67,70,71)), color-stop(0.78, rgb(69,70,71)) );
							background: -moz-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
							background: -o-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
							text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 -1px #000;
						}
					}
					li {
						&:hover {
							>a {
								color: @color_3;
								background: #5C9ACD;
								background: -webkit-gradient( linear, left bottom, left top, color-stop(0.17, rgb(61,111,177)), color-stop(0.51, rgb(80,136,199)), color-stop(1, rgb(92,154,205)) );
								background: -moz-linear-gradient( center bottom, rgb(61,111,177) 17%, rgb(80,136,199) 51%, rgb(92,154,205) 100% );
								background: -o-linear-gradient( center bottom, rgb(61,111,177) 17%, rgb(80,136,199) 51%, rgb(92,154,205) 100% );
								border-bottom: 1px solid rgba(0,0,0,0.6);
								border-top: 1px solid #7BAED9;
								text-shadow: 0 1px rgba(255, 255, 255, 0.3);
							}
						}
					}
				}
				ul {
					li {
						&:last-child {
							>a {
								-moz-border-radius: 0 0 10px 10px;
								-webkit-border-radius: 0 0 10px 10px;
								border-radius: 0 0 10px 10px;
							}
						}
					}
					ul {
						opacity: 0.8;
						li {
							&:first-child {
								>a {
									-moz-border-radius: 0 10px 0 0;
									-webkit-border-radius: 0 10px 0 0;
									border-radius: 0 10px 0 0;
								}
							}
						}
					}
				}
				.homeLnk {
					padding:0.5rem 2rem!important;
				}
			}
			li {
				ul {
					a {
						&:hover {
							color: @color_3;
							background: #5C9ACD;
							background: -webkit-gradient( linear, left bottom, left top, color-stop(0.17, rgb(61,111,177)), color-stop(0.51, rgb(80,136,199)), color-stop(1, rgb(92,154,205)) );
							background: -moz-linear-gradient( center bottom, rgb(61,111,177) 17%, rgb(80,136,199) 51%, rgb(92,154,205) 100% );
							background: -o-linear-gradient( center bottom, rgb(61,111,177) 17%, rgb(80,136,199) 51%, rgb(92,154,205) 100% );
							border-bottom: 1px solid rgba(0,0,0,0.6);
							border-top: 1px solid #7BAED9;
							text-shadow: 0 1px rgba(255, 255, 255, 0.3);
						}
						background: none;
						border: 0 none;
						margin-right: 0;
						width: 120px;
						box-shadow: none;
						-moz-box-shadow: none;
						-webkit-box-shadow: none;
						border-bottom: 1px solid transparent;
						border-top: 1px solid transparent;
					}
					background: #3C4042;
					background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.09, rgb(77,79,79)), color-stop(0.55, rgb(67,70,71)), color-stop(0.78, rgb(69,70,71)) );
					background-image: -moz-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
					background-image: -o-linear-gradient( center bottom, rgb(77,79,79) 9%, rgb(67,70,71) 55%, rgb(69,70,71) 78% );
					border-radius: 0 0 10px 10px;
					-moz-border-radius: 0 0 10px 10px;
					-webkit-border-radius: 0 0 10px 10px;
					left: -999em;
					margin: 35px 0 0;
					position: absolute;
					width: 160px;
					z-index: 9999;
					box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset;
					-moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset;
					-webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.4) inset;
					border: 1px solid rgba(0, 0, 0, 0.5);
				}
				&:hover {
					ul {
						left: auto;
					}
				}
				li {
					ul {
						margin: -1px 0 0 12rem;
						-webkit-border-radius: 0 10px 10px 10px;
						-moz-border-radius: 0 10px 10px 10px;
						border-radius: 0 10px 10px 10px;
						opacity: 0.8;
						visibility: hidden;
					}
					&:hover {
						ul {
							visibility: visible;
						}
					}
				}
			}
		}
		/*----- Search -----*/
		#searchWrap {
			padding-top: 0.5rem;
			.search-form {
				width: 100%;
				display:inline-block;
			}			
			.search-form input {
				width: 80%;
				float:left;
				height:3rem;
				padding:0px 8px;
				border-radius:2px 0px 0px 2px;
				font-size:13px;
			}			
			.search-form button {
				width: 20%;
				float:right;
				height:3rem;
				padding:0px 7px;
				border-radius:0px 2px 2px 0px;
				background:#66a992;
				font-size:13px;
				font-weight:600;
				text-shadow:0px 1px 0px rgba(0,0,0,0.3);
				color:#fff;
			}
		}
	}
}
@media only screen and (max-width: 860px) {
	#menu {
		position: relative;
		display: inline-block;
		.grid_19_m {
			width: 100%;
			padding: 0;
		}
		ul.lv1Menu {
			display: none!important;
		}
		ul {
			width: 100%;
			position: absolute;
			top: 120%;
			left: 0px;
			padding: 10px 18px;
			box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
			border-radius: 3px;
			background: #303030;
			&:after {
				width: 0px;
				height: 0px;
				position: absolute;
				top: 0%;
				left: 22px;
				content: '';
				transform: translate(0%, -100%);
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-bottom: 7px solid #303030;
			}
			.homeItem {
				display: none;
			}
		}
		li {
			margin: 5px 0px 5px 0px;
			float: left;
			display: block;
		}
		a {
			display: block;
		}
	}
	.toggle-nav {
		padding: 0.5rem;
		// float: left;
		display: block!important;
		box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
		border-radius: 3px;
		background: #303030;
		text-shadow: 0px 1px 0px rgba(0,0,0,0.5);
		color: @color_1;
		font-size: 2rem;
		transition: color linear 0.15s;
		&:hover {
			text-decoration: none;
			color: @color_2;
		}
		.toggle-menu-bar {
			display: block!important;
		}
	}
	.toggle-nav.lv1Menu {
		text-decoration: none;
		color: @color_2;
	}
	.search-form {
		width: 70%!important;
		float: right;
		padding-right: 1rem;
		input {
			box-shadow: -1px 1px 2px rgba(0,0,0,0.1);
		}
	}
}
