extends common/layout

block append head
  //-make sure dont start with ./styles since it will take the current prefix url
  //-use /styles only it will take the static path we already specify in app.js
  link(rel='stylesheet', href='/main/dist/styles/index.min.css') 

block content
    section#showcase
      .container
        h1 Affordable Professional Web Design
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu luctus ipsum, rhoncus semper magna. Nulla nec magna sit amet sem interdum condimentum.
      #myCarousel.carousel.slide(data-ride='carousel')
        //- Indicators
        ol.carousel-indicators
          li.active(data-target='#myCarousel', data-slide-to='0')
          li(data-target='#myCarousel', data-slide-to='1')
          li(data-target='#myCarousel', data-slide-to='2')
        //- Wrapper for slides
        .carousel-inner
          .item.active
            img(src='/content/images/home/showcase.jpg', alt='Los Angeles')
          .item
            img(src='/content/images/home/showcase.jpg', alt='Chicago')
          .item
            img(src='/content/images/home/showcase.jpg', alt='New York')
        //- Left and right controls
        a.left.carousel-control(href='#myCarousel', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left
          span.sr-only Previous
        a.right.carousel-control(href='#myCarousel', data-slide='next')
          span.glyphicon.glyphicon-chevron-right
          span.sr-only Next
    section#newsletter
      .container
        h1 Subscribe To Our Newsletter
        form
          input(type='email', placeholder='Enter Email...')
          button.button_1(type='submit') Subscribe
    section#boxes
      .container
        .box
          img(src='content/images/home/logo_html.png')
          h3 HTML5 Markup
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies
        .box
          img(src='content/images/home/logo_css.png')
          h3 CSS3 Styling
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies
        .box
          img(src='content/images/home/logo_brush.png')
          h3 Graphic Design
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet ultricies