
header
    .container
        #branding
          h1
            span.highlight CodingFun
            |  SoftwareDepot
        nav
          //- make sure start with /users/, 
          //- NOT ./users/ (this will cause appending to prefix of current url)
          //- not users/ (this will cause adding prefix everytime we click)
          ul
            if user
              li 
                a(href='/users/logout') Logout 
            else
              li
                a(href='/users/register') Register
              li
                a(href='/users/login') Login