doctype html
html
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width', initial-scale = 1.0)
      meta(name='author', content='My Hong')
      title Coding Tutorials | Welcome
      //- link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
      link(rel='stylesheet', href='/main/dist/styles/common/gridlayout.min.css')
      //- link(rel='stylesheet', href='/main/dist/styles/common/header.min.css')
      //- link(rel='stylesheet', href='/main/dist/styles/common/nav.min.css')
      //- link(rel='stylesheet', href='/main/dist/styles/common/footer.min.css')
      link(rel='stylesheet', href='/main/dist/styles/common/master.min.css')
      
  body
    //-include header for the page
    include header.pug
    //- TODO need to work on this
    include navbar.pug
    .container
      if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.msg}
      block content
      br
      hr
    //- include footer of the page
    include footer.pug
    script(src='/bower_components/jquery/dist/jquery.js') 
    script(src='/bower_components/angular/angular.min.js') 
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
