nav#menu
  .grid_73.grid_19_m
    #mainNav
      li.toggle-nav(href='#')
        span.toggle-menu-bar
        span.toggle-menu-bar
        span.toggle-menu-bar
      ul.menuLv1
        li.itemLv1.homeItem
          a.homeLnk(href='#')
            span.fa.fa-home.fa-2x
        li.itemLv1
          a(href='#') Tutorials
          ul.menuLv2
            li
              a(href='#') coding
            li
              a(href='#') hardware
            li
              a(href='#') network
            li
              a(href='#') shellScript
        li.itemLv1
          a(href='#') Data Structure
          ul.menuLv2
            li
              a(href='#') Sorting ALgorithms
            li
              a(href='#') Searching ALgorithms
            li
              a(href='#') Collections
        li.itemLv1
          a(href='#') Projects
          ul.menuLv2
            li
              a(href='#') Level 2.1
            li
              a(href='#') Level 2.2
            li
              a(href='#') Level 2.3
              ul.menuLv3
                li
                  a(href='#') Level 2.3.1
                li
                  a(href='#') Level 2.3.2
                li
                  a(href='#') Level 2.3.3
                li
                  a(href='#') Level 2.3.4
                li
                  a(href='#') Level 2.3.5
                li
                  a(href='#') Level 2.3.6
                li
                  a(href='#') Level 2.3.7
            li
              a(href='#') Level 2.4
            li
              a(href='#') Level 2.5
        li.itemLv1
          a(href='#') Services
        li.itemLv1
          a(href='#') Contact Us
        if user
          li.itemLv1
            a(href='/articles/add') Add Article
          li.itemLv1
            a(href='/articles/add') Add Article
    #searchWrap
      form.search-form
        input(type='text', placeholder='What are you looking for?')
        button.searchButton(type='submit')
          i.fa.fa-search