nav#menu
  .grid_73.grid_19_m
    #nav
      label#toggle-menu(for='tm')
        | Navigation 
        span.drop-icon ▾
      input#tm(type='checkbox')
      ul
        li
          a(href='#') Home
        li
          a(href='#') About Us
        li
          a(href='#') Our Portfolio
        li
          a(href='#') One Dropdown
          ul
            li
              a(href='#') Level 2.1
            li
              a(href='#') Level 2.2
            li
              a(href='#') Level 2.3
            li
              a(href='#') Level 2.4
            li
              a(href='#') Level 2.5
        li
          a(href='#') Three Levels
          ul
            li
              a(href='#') Level 2.1
            li
              a(href='#') Level 2.2
            li
              a(href='#') Level 2.3
              ul
                li
                  a(href='#') Level 2.3.1
                li
                  a(href='#') Level 2.3.2
                li
                  a(href='#') Level 2.3.3
                li
                  a(href='#') Level 2.3.4
                li
                  a(href='#') Level 2.3.5
                li
                  a(href='#') Level 2.3.6
                li
                  a(href='#') Level 2.3.7
            li
              a(href='#') Level 2.4
            li
              a(href='#') Level 2.5
        li
          a(href='#') Services
        li
          a(href='#') Contact Us
        if user
          li
            a(href='/articles/add') Add Article
          li
            a(href='/articles/add') Add Article
    #searchWrap
      #searchBar
        input.searchBox(type='text', placeholder='What are you looking for?')
        button.searchButton(type='submit')
          i.fa.fa-search